.map{
    position: relative;
    .map-animate{
        .map-container{
            background-color: $second-color;
            .map-overlay{
                height: 100%;
                position: absolute;
                width: 100%;
                top: 0;
                background-color:rgba(0,0,0,0.4);
                
                


            }
            img{
                width: 100%;
                 opacity: .3;
            }
            
            .map-bullets{
                span{
                    position: absolute;
                     opacity: 1;
                      width: 10px;
                        height: 10px;
                     background: #eb2027;
                     border-radius: 50%;
                     transition: opacity .5s linear;

                     box-shadow: 0 0 0 0 #eb2027;
                    transform: scale(1);
                    animation: pulse 2s infinite;
                    animation-delay: 3.25s;
                    &:before{
                        content: "";
                        position: absolute;
                        width: 16px;
                         height: 16px;
                         border: 4px solid #b60e1f;
                         border-radius: 50%;
                         opacity: .5;
                         top: -3px;
                         left: -3px;
                         box-shadow: none!important;

                    }
                         &:after{
                             content: "";
                            position: absolute;
                            width: 20px;
                            height: 20px;
                            border: 2px solid #4e060d;
                            border-radius: 50%;
                            opacity: .3;
                            top: -5px;
                            left: -5px;
                            box-shadow: none!important;
                                }
                                &:first-child{
                                    top: 37%;
                                    left: 52.6%;
                                    transition-delay: .5s
                                }
                                &:nth-child(2){
                                    top: 40%;
                                    left: 59.1%;
                                    transition-delay: .75s;
                                }
                                &:nth-child(3){
                                    top: 46%;
                                left: 70%;
                                transition-delay: 1s;
                                }

                                &:nth-child(4){
                                    top: 36%;
                                left: 80%;
                                transition-delay: 1.25s;
                                }

                                &:nth-child(5){
                                    top: 60%;
                                left: 22%;
                                transition-delay: 1.50s;
                                }


                                &:nth-child(6){
                                    top: 15%;
                                    left: 13%;
                                transition-delay: 1.75s;
                                }
                                &:nth-child(7){
                                    top: 31%;
                                    left: 69%;
                                transition-delay: 2s;
                                }
                                &:nth-child(8){
                                    top: 23%;
                                    left: 62%;
                                transition-delay: 2.25s;
                                }
                                &:nth-child(9){
                                    top: 15%;
                                    left: 78%;
                                transition-delay: 2.50s;
                                }
                                &:nth-child(10){
                                    top: 65%;
                                    left: 52.6%;
                                transition-delay: 2.75s;
                                }
                              
                                    
                                }
                                

                    }
                              }
        }
    }


@keyframes pulse {
    0%{
        transform: scale(.95);
         box-shadow: 0 0 0 0 rgb(235 32 39 / 70%);
        }
       70%{
        transform: scale(1);
        box-shadow: 0 0 0 10px rgb(235 32 39 / 0%);
        }
       100%{
        transform: scale(.95);
        box-shadow: 0 0 0 0 rgb(235 32 39 / 0%);
       }}

       .our-services{
        margin: 50px 0;
        text-align: center;
        .services{
            background-color: #fff;
            border-radius: 15px;
            padding: 10px;
            text-align: center;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            img{}
            h3{
                margin: 20px 0;
                color: $first-color;
                font-weight: 700;
            }
            p{
                color: gray;
                margin: 15px 0 ;
            }
            button{
                background-color: $first-color;
                color: #fff;
                border: none;
                border-radius: 25px;
                height: 40px;
                padding: 0 15px;
                margin: 15px 0;
                width: 30%;
            }
        }
       }


       .why-us{
        margin: 70px 0;
        .main{
            position: relative;
            padding-top: 100px;
            .order-now{
                position: absolute;
                background-color: $first-color;
                width: 30%;
                right: 135px;
                top: 0px;
                border-radius:15px ;
                padding: 10px;
                display: flex;
                flex-direction: column;
                h3{
                    color: $second-color;
                    font-size: 25px;
                    font-weight: 600;
                    margin: 20px 0 20px 15px;
                    text-transform: uppercase ;
                }
                ul{
                    margin: 10px 0 10px 15px;
                    li{
                        color: $second-color;
                    }
                }
                button{
                    border: none;
                    border-radius: 10px;
                    background-color: $second-color;
                    color: #fff;
                    padding: 7px;
                    margin: 20px 15px 20px 15px;
                    text-align: center;
                   
                    font-size: 15px;
                }

            }
            .main-why-us{
                background-color: $second-color;
                padding: 20px;
                border-radius: 20px;
                .words{
                    h3{
                        color: #fff;
                        margin: 20px 0;
                    }
                    p{
                        color: #fff;
                        margin: 20px 0;
                        font-size: 15px;
                    }
                }
                .links{
                    ul{
                        display: flex;
                        justify-content: space-between;
                        text-align: left;
                        li{
                            display: inline-block;
                            margin-right: 10px;
                            color: #fff;
                            text-align: left;
                            i{
                                border: $second-color;
                                color: $first-color;
                                display: inline-block;
                                margin-left: 5px;
                            }

                        }
                    }
                }
            }
        }
       }


       .about-us{
        text-align: right;
        margin: 40px;
        .row{
            .about{
                position: relative;
                h2{
                    text-align: center;
                    position: relative;
                    z-index: 10;
                    margin-bottom: 40px;

                    &::after{
                      
                        width: 27%;
                        position: absolute;
                        height: 3px;
                        background-color: $first-color;
                        bottom: 3px;
                        color: $first-color;
                        left: 40%;
                        z-index: 1;
                    }

                }
                span{
                    position: absolute;
                    display: inline-block;
                    width: 116px;
    left: 43%;
    top: 0%;
    height: 45px;
                    border:4px solid  $first-color;
                    z-index: 2;

                }
                p{
                    text-align: right;
                    color: gray;
                    margin: 60px 0 0 0;

                }
                button{
                    border: none;
                    background-color: $first-color;
                    color: #fff;
                    padding: 9px 35px;
                    margin: 60px 0 0 0;
                }
            }

        }
       }